html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul, li {
  list-style: none;
  display: block;
}

.wrong-message {
  display: none;
}

li {
  margin: 10px 0;
}

.home-container ul {
  width: 1024px;
  margin: auto;
  text-align: left;
}

.home-container ul li {
  display: block;
  width: 130px;
  height: 190px;
  border: 1px solid #ccc;
  float: left;
  margin: 10px 20px;
  text-align: center;
  padding: 5px;
}

.home-container ul li > div {
  margin: 5px;
}

.cart-container table {
  text-align: left;
  width: 100%;
}

.cart-container table a {
  text-decoration: none;
}

.cart-container table tr td {
  padding: 0 20px;
}

.cart-container table tr td .cart-img {
  width: 40px;
  height: 40px;
}

.cart-container table tr td .cart-name {
  height: 40px;
  display: inline-block;
  line-height: 40px;
  vertical-align: top;
}

.cart-container .cart-result {
  text-align: right;
  padding: 10px 150px;
}
