<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Commodity</title>
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <script type="text/javascript" src="scripts/lib.js"></script>
    <script type="text/javascript" src="scripts/common.js"></script>
</head>
<body>
<div class="add-commodity-container">
    <h2>添加商品</h2>
    <ul>
        <li>
            <a href="home">返回商品页</a>
        </li>
        <li class="wrong-message">请输入商品名称和价格</li>
        <li>
            <input class="commodity-name" type="text" placeholder="商品名称" value="">
        </li>
        <li>
            <input class="commodity-price" type="text" placeholder="商品价格" value="">
        </li>
        <li>
            <a href="javascript:void(0);" onclick="addCommodity();">添加</a>
        </li>
    </ul>
</div>
</body>
</html>