<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <script type="text/javascript" src="scripts/lib.js"></script>
    <script type="text/javascript" src="scripts/common.js"></script>
</head>
<body>
<div class="home-container">
    <div>
        <div style="margin: 10px 0;">商品展示页</div>
        <div style="margin: 10px 0;">
            <a href="addCommodity">添加商品</a>
            <a href="#">购物车</a>
            <a href="#">退出</a>
        </div>
    </div>
    <ul>
        <% for(var idx = 0; idx
        < commoditys.length ; idx++) { var item = commoditys[idx]; %>

        <li>
            <div>
                <img width="100px" height="100px" src="images/<%= item.imgSrc %>">
            </div>
            <div>
                <%= item.name %>
            </div>
            <div>$<%= item.price %></div>
            <div>
                <a href="#">加入购物车</a>
            </div>
        </li>
        <%}%>
    </ul>
</div>
</body>
</html>