<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <script type="text/javascript" src="scripts/lib.js"></script>
    <script type="text/javascript" src="scripts/common.js"></script>
</head>
<body>
<div class="login-container">
    <ul>
        <li>用户登录</li>
        <li class="wrong-message">输入的信息不符合要求</li>
        <li><%- message %></li>
        <li>
            <input class="uname" type="text" placeholder="用户名" value="hxghxg527">
        </li>
        <li>
            <input class="upwd" type="password" placeholder="密码" value="123">
        </li>
        <li>
            <a href="javascript:void(0);" onclick="login();">登录</a>
        </li>
        <li>
            <a href="register">注册</a>
        </li>
    </ul>
</div>
</body>
</html>