<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link type="text/css" rel="stylesheet" href="css/common.css">
    <script type="text/javascript" src="scripts/lib.js"></script>
    <script type="text/javascript" src="scripts/common.js"></script>
</head>
<body>
<div class="register-container">
    <ul>
        <li>用户注册</li>
        <li class="wrong-message">输入的信息不符合要求</li>
        <li><%- message %></li>
        <li>
            <input class="uname" type="text" placeholder="用户名" value="hxghxg527">
        </li>
        <li>
            <input class="upwd" type="password" placeholder="密码" value="123">
        </li>
        <li>
            <input class="upwd-confirm" type="password" placeholder="确认密码" value="123">
        </li>
        <li>
            <a href="javascript:void(0);" onclick="register();">注册</a>
        </li>
        <li>
            <a href="#">登陆</a>
        </li>
    </ul>
</div>
</body>
</html>